.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.navigation {
    background-color: #FCFAF8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
    width: 300px;
}

.navigation.collapsed {
    width: 60px;
}

.nav-info .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-info .users {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-info .users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-info .icons i {
    padding-top: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projectsDropdown .dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.active a {
    background-color: #FFEFE5;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.navbar .nav-opts,
.navbar .more-opts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .nav-opts i,
.navbar .more-opts i {
    color: #333;
}

.navbar .nav-opts a,
.navbar .more-opts a {
    text-decoration: none;
    color: #333;
}

.ext {
    margin-top: 100%;
}

.content {
    padding-top: 20vh;
    margin: 0 auto;
}

.filters, .labels {
    margin-top: 20px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    margin-left: 20px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.navigation.collapsed .nav-opts a,
.navigation.collapsed .more-opts a,
.navigation.collapsed label,
.navigation.collapsed .user-info h3 {
    display: none;
}

.dropdown-item {
    display: block;
    margin-left: 20px;
}

.option-content {
    display: none;
    margin-left: 20px;
}

.option-content input {
    border-radius: 10px;
    width: 12vw;
    height: 3vh;
}

.option-content textarea {
    border-radius: 10px;
    width: 12vw;
    height: 8vh;
}

.dropdown-item input,
.dropdown-item select,
.dropdown-item textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.task-management {
    margin-top: 20px;
    display: grid;
    align-items: center;
}

.task-management button {
    padding: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.task-management ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.task-management ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
}

.task-management ul li.low {
    background-color: green;
}

.task-management ul li.medium {
    background-color: orange;
}

.task-management ul li.high {
    background-color: red;
}

.task-management ul li button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

